{% extends 'base.html' %}

{% block title%} Listado de componentes {% endblock %}



{% block content %}

    <h1>Crear componente</h1><a href="/components/create_components/" class="btn btn-primary">Crear</a>
    {% for component in components%}

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
            <div class="col-md-4">
                <img src="..." alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{component.name}}</h5>
                <p class="card-text"><small class="text-muted">{{component.category}}</small></p>
                <p class="card-text">{{component.specification}}</p>
                <p class="card-text"><small class="text-muted">$ {{component.price}}</small></p>
                </div>
            </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}
